@import "tailwindcss";

/*
body{
    background-image: url('../src/assets/img/bgb.png');

}
    */
.bgDark{
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../src/assets/img/bgsb.webp');
    background-position: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;


}
.bgLight{
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../src/assets/img/bgsw.webp');
    background-position: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}   